
body {
	background-color: rgb(255,255,255);
	width: 100%;
	height: 100%;
	overflow:hidden;
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}
#info {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	color: white;
	font-size: 20px;
}


#page {
	display: none;
}
#loading {
	float: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(192, 192, 192, 0.5);
	background-image: url("http://i.stack.imgur.com/MnyxU.gif");
	background-repeat: no-repeat;
	background-position: center;
}

